# Bắt đầu cấu hình mod_rewrite

<IfModule mod_rewrite.c>
    RewriteEngine On
    
# Nếu URL là root (/) thì chuyển hướng đến public/index.php
    RewriteRule ^$ public/index.php [L]

# Nếu là tệp hoặc thư mục tồn tại, không chuyển hướng

    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]

    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

# Chuyển hướng tất cả các yêu cầu khác đến public/index.php

    RewriteRule ^(.*)$ public/index.php?$1 [L,QSA]

</IfModule>
